.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(
    0,
    75,
    141,
    0.8
  ); /* Primary color: Deep Blue with 0.8 opacity */
  padding: 20px;
  color: #f0f0f0; /* Text color: Light Gray */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navigation li {
  display: inline;
  padding: 0, 10px;
}

.navigation li a {
  color: #f0f0f0; /* Text color: Light Gray */
  text-decoration: none;
  transition: color 0.3s;
}

.navigation li a:hover {
  color: #ff9900; /* Accent color: Orange */
}
.navigation li:last-child a {
  margin-right: 30px; /* Add margin to the right */
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    
  }
  
}

/* Styles for screens between 600px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
  nav{
    margin-left: 20px;
  }
}

/* Styles for screens larger than 900px */
@media (min-width: 901px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
