/* Userprofile.css */

.user-profile {
  display: flex;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0; /* Light Gray background color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 20px;
}

.username {
  color: #004b8d; /* Deep Blue for username */
  margin: 0;
  font-size: 24px;
}

.email {
  color: #333333; /* Dark Gray for email */
  margin: 0;
  font-size: 16px;
}
